#header {
  top: 0;
}
.khmer-font {
  font-family: 'Noto Sans Khmer', sans-serif;
}
.khmer-font-nav{
   .khmer-font {
    font-family: "Moul", serif;
    font-weight: 400;
    font-style: normal;
  }
}
