#header {
  top: 0;
}

.khmer-font-nav{
    font-family: "Moul", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

    .khmer-font {
        font-family: "Battambang", system-ui;
        font-weight: 100;
        font-style: normal;
        font-size: 13px;
    }
    .khmer-font